.EducationContainer {
    display: flex;
    position: relative;
}

.SchoolCommonStyles {
    position: relative;
    transition-property: transform;
    transition-duration: 2s;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 50%;
    height: 10%;
    opacity: 1;
    transform-origin: center top;
}

.CurtinContainer {
    left: 0;
}

.AXHSContainer {
    transform-origin: center bottom;
    margin-top: auto;
    right: 0;
}

.Expanded {
    opacity: 1;
    transform: scaleY(10);
}

.ImageSwapHoverStyle {
    position: absolute;
    opacity: 0;
    transform: scaleY(0.1);
    transition: opacity 0.5s ease;
}

.Expanded>.ImageSwapHoverStyle {
    opacity: 0.25 !important;
}

.Expanded>.EducationDescription {
    opacity: 1 !important;
}

.EducationDescription {
    transform: scaleY(0.1);
    opacity: 0;
    font-size: 1.1cqw;
    max-width: 80%;
    font-weight: 700;
    text-align: center;
    word-break: normal;
}


@media (min-width: 2000px) {
    .EducationDescription {
        font-size: 150%;
    }
}