.ImageSwapHoverContainer {
    position: absolute;
    /* not defining width and height here lets className from other file takes precedence
    because this part is more specific than className from another file */
    background-color: azure;
    display: flex;
    justify-content: center;
}

.ImageOne {
    position: absolute;
    top: 25%;
    width: 75%;
    height: auto;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.ImageTwo {
    position: absolute;
    width: 100%;
    top: 0% !important;
    aspect-ratio: 1;
    top: 5%;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.ImageSwapHoverContainer:hover .ImageOne {
    opacity: 0;
}

.ImageSwapHoverContainer:hover .ImageTwo {
    opacity: 1;
}