.WebsitesContainer {
    background-color: gold;
    display: grid;
    place-items: center;
}

.CarouselContainer {
    position: absolute;
    width: 80%;
    height: auto;
}

.CarouselItem {
    width: 100%;
    aspect-ratio: 1.75;
}