.SideNavContainer {
    /* side nav width is 10 % since the main 
    page rendered is going to be taking 90% width */
    position: fixed;
    top: 0;
    width: 10%;
    height: 100vh;
    background-color: blue;
    z-index: 999;
    overflow: hidden;

}

/* if the screen is too large just set sidebar to be fixed */

@media (min-width: 1920px) {
    .SideNavContainer {
        width: 192px;
    }
}

@media (max-width: 768px) {
    .SideNavContainer {
        transition-property: transform;
        transition-duration: 2s;
        width: 105px;
        max-height: 40%;
        height: fit-content;
    }

}

.ToggleViewBox {
    position: fixed;
    width: 5%;
    aspect-ratio: 1;
    background-color: red;
    top: 5%;
    display: none;
    z-index: 1000;
}

@media (max-width: 768px) {
    .ToggleViewBox {
        display: block;
    }
}

.AnchorLinksDiv {
    margin: 40% auto;

}

@media (max-width: 768px) {
    .AnchorLinksDiv {
        margin: 10% auto;
    }
}

.MyUnorderedList {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 0;
}

@media (max-width: 768px) {
    .MyUnorderedList {
        padding-top: 40%;
    }
}


.AnchorLinksDiv a {
    text-decoration: none;
    transition: transform 1s;
    display: inline-block;
    /* this lets it work now */
}

.AnchorLinksDiv a:hover {
    transform: scale(1.5);
    transition-duration: 1s;
    cursor: pointer;
}

@media (min-width: 1920px) {
    .AnchorLinksDiv a {
        font-size: 1.1cqw;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .AnchorLinksDiv a {
        font-size: 1.35cqw;
    }
}

.DynamicContactInfo {
    display: none;
}

@media (max-width: 768px) {
    .DynamicContactInfo {
        display: block;
    }

}