.DefaultMainContainer {
    position: relative;
    aspect-ratio: 1.8;
    width: 90%;
    left: 9%;

}


@media (max-width: 768px) {
    .DefaultMainContainer {
        width: 100%;
        left: 0%;
    }
}

.ContainerTitle {
    position: absolute;
    font-weight: 1000;
    font-size: 3cqw;
    top: 10%;
    left: -50%;
    transition-property: transform;
    transition-duration: 2s;
    z-index: 1000;
}

.ContainerTitleVisible {
    transform: translateX(325%);
}

.line {
    position: absolute;
    background-color: purple;
    height: 0.25cqw;
    width: 20cqw;
    top: 75%;
    transform-origin: left;
    opacity: 0.25;
    border-radius: 7.5%;
    border: none;
}

.line:hover {
    transition-property: transform opacity;
    transition-duration: 2s;
    transform: scaleX(2.2);
    opacity: 1;
}

@media (max-width: 1760px) {
    .line {
        top: 3cqw;
    }
}

@media (max-width: 768px) {
    .line {
        top: 1.75cqw;
    }
}

@media (max-width: 400px) {
    .line {
        top: -10%;
    }
}

@media (min-width: 2000px) {
    .ContainerTitle {
        font-size: 65px;
        left: -1000px !important
    }

    .line {
        width: 400px;
    }
}