.DropdownBox {
    width: 250px;
    max-width: 100%;
    aspect-ratio: 4;

}

.IconNameCard {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.IconNameCard:hover .DisplayText {
    visibility: visible;
    transform: translateX(50px) scale(2.5);
}

.LanguageImageIcon {
    position: relative;
    max-Height: 40px;
    width: auto;
    margin: 10% auto;
}

.DisplayText {
    visibility: hidden;
    font-size: 0.5rem;
    transition-property: transform;
    transition-duration: 2s;
}