.ExperienceContainer {
    background-color: red;
    overflow: hidden;
}

.ExperienceCardContainer {
    position: absolute;
    display: flex;
    align-items: center;
    background-color: chartreuse;
    height: calc((100% / 3) - 0.01px);
    opacity: 1;
    width: 100%;
    transition-property: transform opacity;
    transition-duration: 2s;
    display: flex;
    justify-content: end;
}


.MiddleCard {
    background-color: coral;
    top: calc((100% / 3) - 0.01px);
    left: 100%;
    z-index: 1;
    display: flex;
    justify-content: start;
}

.MiddleCardCover {
    z-index: 2;
}

.TopCard {
    background-color: green;
    top: 0%;
    right: 100%;
}

.BottomCard {
    background-color: yellow;
    top: calc((200% / 3) - 0.01px);
    right: 100%;

}

.MiddleCardSlide {
    opacity: 1;
    transform: translateX(-100%);
}

.TopCardSlide {
    opacity: 1;
    transform: translateX(100%);
}

.BottomCardSlide {
    opacity: 1;
    transform: translateX(100%);
}