.ExperienceContainer {
    overflow: hidden;
}

.ExperienceCardContainer {
    position: absolute;
    display: flex;
    align-items: center;
    height: calc((100% / 3) - 0.01px);
    opacity: 1;
    width: 100%;
    transition-property: transform opacity;
    transition-duration: 2s;
    justify-content: end;
}

.ExperienceCardContainer:hover {
    background-image: radial-gradient(circle, rgba(128, 0, 128, 0.363), rgba(61, 9, 110, 0));
}

.MiddleCard {
    top: calc((100% / 3) - 0.01px);
    left: 100%;
    z-index: 1;
    display: flex;
    justify-content: start;
}

.MiddleCardCover {
    z-index: 2;
}

.TopCard {
    top: 0%;
    right: 100%;
}

.BottomCard {
    top: calc((200% / 3) - 0.01px);
    right: 100%;

}

.MiddleCardSlide {
    opacity: 1;
    transform: translateX(-100%);
}

.TopCardSlide {
    opacity: 1;
    transform: translateX(100%);
}

.BottomCardSlide {
    opacity: 1;
    transform: translateX(100%);
}

.InputClass {
    position: absolute;
    transform-Origin: center;
    width: 7.5%;
    transform: rotate(270deg);
    margin: -2.5%;
}

.FontContainer {
    max-width: 80%;
    margin: 0 auto;
}

@media (max-width: 2000px) {
    .ExperienceFont {
        font-size: 1.35cqw;
        line-height: 1.5;
        font-weight: 350;
    }
}

@media (min-width: 2000px) {
    .InputClass {
        margin: -1.75%;
    }

    .ExperienceFont {
        font-size: 25px;
    }
}