body,
#root {
  max-width: 100vw;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;

  /* overflow x is to prevent horizontal scrolling shouldnt even be a thing idk */
}

@media (max-width: 1024px) {

  body,
  #root {
    overflow-x: auto;
  }
}

.RootContainer {
  position: absolute;
  width: 100vw;
}

@media (min-width: 1920px) {
  .RootContainer {
    height: 1080px;
    width: 1920px;
    /*my screen isnt actually 1920 */
  }
}

html {
  scroll-behavior: smooth;
}

.ContrastButton {
  top: 2.5cqw;
  left: 85cqw;
  position: absolute;
  cursor: pointer;
  width: 3.75cqw;
  height: auto;
  z-index: 1000000;
  filter: invert(1);
}

.ContrastButton:hover {
  transition-property: transform;
  transition-duration: 1s;
  transform: scale(1.25);
}

.ContrastButtonLight {
  filter: invert(0);
}

@media (min-width: 2000px) {
  .ContrastButton {
    width: 100px;
    top: 50px;
    left: 1600px;
  }
}

@media (max-width: 768px) {
  .ContrastButton {
    width: 7.5cqw;
  }
}