:root {
  font-family: Helvetica, Inter, system-ui, Avenir, Arial, sans-serif;
  line-height: 1.5;

  color-scheme: dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
}

body {
  background-image: linear-gradient(to bottom, rgb(53, 1, 53), rgb(35, 1, 66));
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: rgb(239, 217, 248);
}

body.light-mode {
  background-image: linear-gradient(to bottom, rgb(248, 211, 248), rgb(132, 113, 150));
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: rgb(28, 33, 34);
}