.AboutMeIntroductionContainer {
    position: relative;
    background-color: fuchsia;
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

.IntroductionContainer {
    position: absolute;
    background-color: aqua;
    bottom: 0;
    height: 100%;
    width: 80%;
}

.BackgroundContainer {
    position: absolute;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    bottom: 0;
    right: 0;
    width: 20%;
    height: 100%;
}

.IntroductionContainer h3 {
    position: relative;
    width: 55%;
    font-size: 1.5cqw;
    left: 5%;
    top: 5%;
}

.PhotoContainer {
    position: absolute;
    background-color: bisque;
    width: 30%;
    aspect-ratio: 1;
    right: 5%;
    top: 5%;
}

.SkillsCardContainer {
    position: absolute;
    width: 10px;
    aspect-ratio: auto;
}

@media (min-width: 2000px) {
    .IntroductionContainer h3 {
        font-size: 175%;
        width: 85%;
    }

    .AboutMeIntroductionContainer {
        height: 90%;
    }

    .BackgroundContainer {
        width: 5%;
    }
}

@media (max-width: 768px) {
    .BackgroundContainer {
        display: none;
    }
}