.AboutMeIntroductionContainer {
    position: relative;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.IntroductionContainer {
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 80%;
}

.BackgroundContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    bottom: 0;
    right: -50%;
    width: 20%;
    height: 100%;
    top: 2.5cqw;
    background: radial-gradient(closest-side, rgba(128, 0, 128, 0.363), rgba(61, 9, 110, 0));
    opacity: 0;
    transition-property: transform, opacity;
    transition-duration: 2s, 4s;
}

.BackgroundContainerSlide {
    transform: translateX(-250%);
    opacity: 1;
}

.IntroductionContainerH3 {
    position: relative;
    width: 55%;
    font-size: 1.5cqw;
    left: 5%;
    top: -35%;
    opacity: 0;
    font-weight: 350;
    transition-property: transform, opacity;
    transition-duration: 2s, 4s;
    transition-timing-function: smooth, ease-in;
}

.IntroductionSlide {
    transform: translateY(225%);
    opacity: 1;
}

.PhotoContainer {
    position: absolute;
    width: 30%;
    aspect-ratio: 1;
    right: 5%;
    top: 105%;
    transition-property: transform;
    transition-duration: 2s;
}

.PhotoContainerSlide {
    transform: translateY(-250%);
}

.SkillsCardContainer {
    position: absolute;
    width: 10px;
    transition-property: transform;
    transition-duration: 2s;
    aspect-ratio: auto;
}

.StartUpRotation {
    transform: rotate(var(--rotation)) translate(var(--translation));
}

.BackgroundFont {
    font-size: 1cqw;
}

@media (min-width: 2000px) {
    .PhotoContainer {
        top: 115%
    }

    .IntroductionContainer h3 {
        font-size: 175%;
        width: 50%;
    }

    .AboutMeIntroductionContainer {
        height: 90%;
    }

    .BackgroundFont {
        font-size: 100%;
    }
}

@media (max-width: 768px) {
    .BackgroundContainer {
        display: none;
    }

    .IntroductionContainerH3 {
        top: -22.5%;
    }
}