.AboutMeIntroductionContainer {
    position: relative;
    background-color: fuchsia;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
}

.IntroductionContainer {
    position: relative;
    background-color: aqua;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: calc(225px + 5vw)
}

.IntroductionContainer h3 {
    text-align: center;
    width: 55%;
}

.DropdownContainer {
    position: relative;
    top: 2.5%;
    background-color: brown;
    width: 100%;
}

.DropdownBoxContainer {
    display: flex;
    justify-content: center;
}

.BackgroundContainer {
    position: relative;
    background-color: green;
    width: 30%;

}